<div class="d-flex flex-row justify-content-around align-items-center">
    <div role="button" [routerLink]="['/logistics']">
        <mat-card class="example-card d-flex flex-column justify-content-center align-items-center" appearance="outlined" >
            
            <mat-card-content class="text-center">
                <img src="/assets/checklist.png" width="100px" height="auto" alt="checklist-icon">
                <h6>Logistics</h6>
            </mat-card-content>
           
          </mat-card>
          
    </div>
    <div role="button" [routerLink]="['/storefront']">
        <mat-card class="example-card d-flex flex-column justify-content-center align-items-center" appearance="outlined" >
            
            <mat-card-content class="text-center">
                <img src="/assets/barn.png" width="100px" height="auto" alt="barn-icon">
                <h6>My Storefront</h6>
            </mat-card-content>
           
          </mat-card>
          
    </div>
    <div role="button" [routerLink]="['/users']">
        <mat-card class="example-card d-flex flex-column justify-content-center align-items-center" appearance="outlined" >
            
            <mat-card-content class="text-center">
                <img src="/assets/diversity.png" width="90px" height="auto" alt="barn-icon" class="mb-2">
                <h6>Pet Store Family</h6>
            </mat-card-content>
           
          </mat-card>
          
    </div>
    <!-- <div role="button">
        <mat-card class="example-card d-flex flex-column justify-content-center align-items-center" appearance="outlined" >
            
            <mat-card-content class="text-center">
                <mat-icon>assignment</mat-icon>
                <h6>Logistics</h6>
            </mat-card-content>
           
          </mat-card>
          
    </div>
    <div role="button">
        <mat-card class="example-card d-flex flex-column justify-content-center align-items-center" appearance="outlined" >
            
            <mat-card-content class="text-center">
                <mat-icon>assignment</mat-icon>
                <h6>Logistics</h6>
            </mat-card-content>
           
          </mat-card>
          
    </div> -->
</div>
